	<div class="page-wrap">
		<div class="center-form">
			<div id="post-wrapper">
				<% @posts.each do |post| %>
						<%= link_to post.title, post, class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>