.comment-holder
{
	background:white;
	border:10px solid rgba(3, 33, 73, 1);
}

.author-part
{
	color:rgba(3, 33, 73, 1);
	box-shadow: 5px 5px 5px black;
	font-weight: bold;
	font-size:1.1em;
}

.new-com
{
	width:70%;
	max-width: 70%;
}

.com-label
{
	color:rgba(255, 223, 229, 1);
	
}